html {
    display: table;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(155, 174, 182);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    min-height: 100vh;
    width: 100%;
}

#content {
    padding: 5px;
    font-family: 'Source Code Pro', monospace;
}

#header {
    margin: 60px 0 60px 0;
    text-align: center;
    color: white;
    font-size: 5vw;
}

#codeSnippet {
    text-align: left;
    white-space: pre-wrap;
    color: white;
    font-size: 3vw;
}

#footer {
    margin: auto 0 20px 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    font-style: normal;
}

#footer a {
    text-decoration: solid;
    color: rgb(55, 137, 204);
}

.url {
    color: rgb(55, 137, 204);
    text-decoration: solid;
}

#footer .icon {
    font-size: 32px;
    padding-bottom: 20px;
    color: white;
}

@media only screen and (max-width: 425px) {
    #header {
        font-size: 8vw;
    }
    #codeSnippet {
        font-size: 4vw;
    }
    #footer {
        margin-bottom: 70px;
    }
}

@media only screen and (min-width: 1800px) {
    #codeSnippet {
        font-size: 2vw;
    }
}